name: Events CI
on:
  pull_request:
    branches: ['*']
  push:
    branches: ['*']
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '8'
      - name: Build jar
        run: mvn --batch-mode --update-snapshots verify
      - name: Move generated jar file
        run: mv target/Events*.jar Events.jar
      - name: Create Release
        id: create_release
        if: github.event_name != 'pull_request' && (github.ref == 'refs/heads/master')
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: events-${{github.sha}}
          release_name: Release ${{github.sha}}
          draft: false
          prerelease: false
      - name: Upload Release Asset
        id: upload-release-asset
        if: github.event_name != 'pull_request' && (github.ref == 'refs/heads/master')
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} 
          asset_path: ./Events.jar
          asset_name: Events.jar
          asset_content_type: application/java-archive
